<div id="footer">
    <div class="subtitle" style="color: black;"><b>© Joel Garcia</b></div>
    <div class="subtitle"> <b>2022-2023</b></div>
    <div class="col-md-12" style="align-content: center;">
    <section>
      <link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <ul class="icon-list">
          <li class="icon-item">
            <a href="https://www.instagram.com/joel_garcia.20" class="icon-link"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="icon-item">
            <a href="https://github.com/Newtoniano20" class="icon-link"><i class="fab fa-github"></i></a>
          </li>
          <li class="icon-item">
            <a href="https://twitter.com/Newtoniano20" class="icon-link"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="icon-item">
            <a href="https://www.youtube.com/channel/UCScuvGgrvL9c0wZp_XKJFAg" class="icon-link"><i class="fab fa-youtube"></i></a>
          </li>
        </ul>
    </section>
  </div>
</div>