
<div class="container" style="text-align: center; font-size: 18;">
<div class="row">
<div class="col-md-12" style="text-align: center; padding-top: 50px;">
    <h1 style="font-size: 60px;">Joel Garcia</h1>
</div>
<div class="col-md-12" style="text-align: center; padding-top: 30px;">
    <h1>Coding Knowledge:</h1>
</div>
<div class="col-md-6" style="padding-top: 40px;"> 
<pre>
<h2>Programming Languages</h2>
Python - Main Programming Language
Arduino - Advanced 
C++ - Basic
JavaScript - Basic
Java - Basic
HTML - Advanced
CSS - Basic
</pre>
</div>
<div class="col-md-6" style="padding-top: 40px;"> 
<pre>
<h2>Frameworks</h2>
matplotlib - Experienced
pyserial - Experienced
discord.py - Experienced
angular - Advanced 
pygame - Advanced
tkinter - Advanced
Manim - Basic
Minecraft Plugins - Basic
</pre>
</div>
</div>
</div>