<div class="subpage">
<div class="container">
    <div class="row" style="margin-top: -200px;">
    <div class="column link">
    <a href="https://www.instructables.com/Foot-Piano/">
        <div>
        <img src="../../assets/piano2.png" width="200">
    </div>
        <div style="margin-left: -430px; text-align: center; margin-top: 50px;">
            Piano EDW 2022
        </div>
    </a>
    </div>
    <div class="column link">
        <a href="https://www.instructables.com/Shaking-Hands-Overseas/">
            <div>
            <img src="../../assets/sho.png" width="400">
        </div>
            <div style="margin-left: -230px; text-align: center; margin-top: 50px;">
                Shaking Hands 
            </div>
            <div style="margin-left: -230px; text-align: center; margin-top: 50px;">
                Overseas EDW 2021
            </div>
        </a>
    </div>
    <div class="column link" style="margin-top: 100px;">
        <a href="https://www.instructables.com/member/Newtoniano/instructables/">
            <div>
            <img src="../../assets/other.jpg" width="200">
        </div>
            <div style="margin-left: -430px; text-align: center; margin-top: 50px;">
                Other Projects
            </div>
        </a>
    </div>
    <div class="column link" style="margin-top: 130px;">
        <a href="https://www.instructables.com/Paper-Airplane-Launcher-3/">
            <div>
            <img src="../../assets/airplane.jpg" width="300" style="margin-left: 50px;">
        </div>
            <div style="margin-left: -210px; text-align: center; margin-top: 50px;">
                Paper Airplane Launcher
            </div>
        </a>
        </div>
</div>
</div>
</div>