<title>My Projects</title>
<div class="container">
<div class="row">
<div class="col-md-12" style="text-align: center; padding-top: 50px;">
    <h1 style="font-size: 60px;">Joel Garcia</h1>
</div>
<div class="container">
<div class="row" style="padding-top: 70px; text-align: center;">
<div class="col-md-6" style="padding-top: 30px; text-align: center;">
  <h1>Other Projects</h1> 
  <div style="padding-top: 30px;">
    You can see my past and current projects at both my Github Page and Instructables page.
    <div class="buttons">
    <a href="https://github.com/Newtoniano20" style="color: transparent;">
        <button class="btn-hover color-1">My GitHub Page</button>
    </a>
    <a href="https://www.instructables.com/member/Newtoniano/?publicPreview=true">
        <button class="btn-hover color-1">My Instructables Page</button>
    </a>
</div>
</div>
</div>       
<div class="col-md-6" style="padding-top: 30px; text-align: center;">
  <h1>Shaking Hands Overseas Project</h1>
  <div style="padding-top: 30px;">
  My current Project
<div style="padding-top: 0px; text-align: center;">
  <div class="buttons"></div>
  <a routerLink="/SHO">
    <button class="btn-hover color-1">SHO Project</button>
</a>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
