<title>Joel Garcia</title>
<div class="container" style="color: black;">
  <div class="row">
  <div class="col-md-12" style="text-align: center; padding-top: 50px;">
      <h1 style="font-size: 60px;">Joel Garcia</h1>
  </div>
  <div class="col-md-12" style="padding-top: 30px; text-align: center; font-size: 18;">
    
    <h1>Contact Information:</h1>
    <pre>

<h5>    
You can get in touch with me via the following methods:
</h5>
Discord: Newtoniano#1173
Email: <a href = "mailto: joel.garcia1202@hotmail.com">joel.garcia1202@hotmail.com</a>
    </pre>
    </div>
  </div>
</div> 