<title>Joel Garcia</title>
<div class="container">
  <div class="row">
  <div class="col-md-12" style="text-align: center; padding-top: 50px;">
      <h1 style="font-size: 60px;">Joel Garcia</h1>
  </div>
  
  <div style="padding-top: 100px; text-align: center;">
    <h1>Contact Information:</h1>
    <div style="padding-top: 30px; text-align: center;">You can get in touch with me either via Discord (Newtoniano#1173) or <a href = "mailto: joel.garcia1202@hotmail.com">Email</a>.<br></div>
    </div>
  </div>
</div> 