<div class="subpage">
<div style="margin-top: -150px;">
    <div class="row" class="link">
        <table class="table" style="width:70%; color: white;">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td><a target="_blank" href="https://www.upc.edu/en/bachelors/aerospace-vehicle-engineering-terrassa-eseiaat" class="linked">Bachelor's degree in Aerospace Engineering</a></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Violin</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td><a target="_blank" href="https://cs50.harvard.edu/x/2022/" class="linked">Harvard's CS50</a></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td><a target="_blank" href="https://techprojectx.com/" class="linked">MIT BCNSquad (EDW's Mentoring)</a></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td><a target="_blank" href="https://www.upcprogram.space/grass" class="linked">GRASS (Rover for the European Rover Challenge)</a></td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td><a target="_blank" href="https://adventofcode.com/" class="linked">Advent Of Code</a></td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td><a target="_blank" href="https://tryhackme.com/room/adventofcyber4" class="linked">Advent Of Cypher</a></td>
                </tr>
              </tbody>
        </table>
    </div>
</div>
</div>