<title>SHO Project</title>
<div class="container" style="color: white;">
  
    <div class="row">
    <div class="col-md-12" style="padding-top: 50px; text-align: center;">
      <div class="col-md-12" style="text-align: center;">
        <h1 style="font-size: 60px;">Joel Garcia</h1>
      </div>
<div class="col-md-12" style="text-align: center; padding-top: 100px;">
    <h1>Shaking Hands Overseas Project</h1></div>
    </div>
<div class="col-md-6 offset-3"style="padding-top: 30px; text-align: center;">
    This is my current project, in which we want to move a hand with a glove located in the other side of the ocean. 
    We are working with the MIT in order to accomplish this.
</div>
<div class="col-md-12" style="text-align: center; padding-top: 50px;">
    <a href="https://shaking-hands-overseas-3f807.web.app/" style="color: transparent;">
        <button class="btn-hover color-1">SHO Website</button>
      </a>
    <span></span>
    <a href="https://github.com/Shaking-Hands-Overseas/Main">
        <button class="btn-hover color-1">SHO Github page</button>
    </a>
</div>
</div>
</div>
    
