<title>Joel Garcia</title>
<div class="subpage">
    <div class="col-md-12" style="text-align: left;">
      <ul class="nav">
        <li class="nav-item">
          <a routerLink="/" class="link">Joel Garcia</a>
        </li>
        <li class="ms-auto nav-item" style="margin-right: 20px;">
          <a routerLink="/working-on" class="link"><div style="font-size: large;">What am I working on?</div></a>
        </li>
        <li class="nav-item">
        <app-social-media></app-social-media>
      </li>
      </ul> 
  </div>
      <div class="col-md-12" style="text-align: right; margin-top: -60px;">
      </div>
  <div class="col-md-12" style="text-align: left; margin-top: -330px;">
    <router-outlet></router-outlet>
  </div>
</div>


