{% extends 'index.html' %}

{% block body %}
<link rel="stylesheet" href="static/contact.css">
<div class="container">
    <div class="row">
    <div class="subpage">
    <div class="margin-change" style="font-size: 45px;">
    Who Am I?
    </div>
    <div class="margin-change col-md-9" style="font-size: 20px;">
        I'm a UPC Freshman in Aerospace Engineering from Spain who is interested in physics, aerodynamics, some abstract math and computers. I am studying aerospace engineering because I love bringing to life new inventions and combining math, physics and coding together to create something new and I am fascinated by rockets and airplanes. I am currently working with the MIT in different projects and working in some personal projects you can follow in my socials.
    </div>
    <div class="margin-change" style="margin-top: 50px;font-size: 45px;">
    Contact Information
    </div>
    <div class="margin-change col-md-9" style="font-size: 20px;">
    Email: <a href = "mailto: joel.garcia1202@hotmail.com">joel.garcia1202@hotmail.com</a>
    <br>Discord: Newtoniano#1173
    </div>
</div>
</div>
</div>
{% endblock %}