{% extends 'index.html' %}

{% block body %}
<link rel="stylesheet" href="static/projects.css">
<div class="subpage">
    <div class="container">
        <div class="row" style="margin-top: -200px;">
        <div class="column link">
        <a href="https://www.instructables.com/Foot-Piano/">
            <img src="static/assets/piano2.png" width="200">
            <span style="text-align: center;">
                <br><br><br> Piano <hr class="size">EDW 2022
            </span>
        </a>
        </div>
        <div class="column link">
            <a href="https://www.instructables.com/Shaking-Hands-Overseas/">
                <img src="static/assets/sho.png" width="400">
                <span style="text-align: center;">
                    <br><br><br> Shaking <hr class="size"> Hands <hr style="color: transparent;"> Overseas<hr class="size"> EDW 2021
                </span>
            </a>
        </div>
        <div class="column link" style="margin-top: 100px;">
            <a href="https://www.instructables.com/member/Newtoniano/instructables/">
                <img src="static/assets/other.jpg" width="200">
                <span style="text-align: center;">
                    <br><br><br> Other<hr class="size"> Projects
                </span>
            </a>
        </div>
        <div class="column link" style="margin-top: 130px;">
            <a href="https://www.instructables.com/Paper-Airplane-Launcher-3/">
                <img src="static/assets/airplane.jpg" width="300" style="margin-left: 50px;">
                <span style="text-align: center;">
                    <br><br><br> Paper <hr class="size">Airplane <hr style="color: transparent;"> Launcher
                </span>
            </a>
            </div>
    </div>
    </div>
    </div>
{% endblock %}