{% extends 'index.html' %}

{% block body %}
<link rel='stylesheet' href='https://rawcdn.githack.com/SochavaAG/example-mycode/master/_common/css/reset.css'><link rel="stylesheet" href="static/timeline.css">
<!-- partial:index.partial.html -->
<div class="ag-timeline-block">
  <div class="ag-timeline_title-box">
    <div class="ag-timeline_title">Timeline</div>
  </div>
  <section class="ag-section">
    <div class="ag-format-container">
      <div class="js-timeline ag-timeline">
        <div class="js-timeline_line ag-timeline_line">
          <div class="js-timeline_line-progress ag-timeline_line-progress"></div>
        </div>
        <div class="ag-timeline_list">
          
          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">2023</div>
              </div>
              <div class="ag-timeline-card_meta-box">
                <div class="ag-timeline-card_meta">Harvard's CS50AI [ONGOING]</div>
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_img-box">
                  <!-- <img src="static/timeline_images/CS50.png" class="ag-timeline-card_img" salt="" /> -->
                </div>
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">Harvard's CS50 [ONGOING]</div>
                  <div class="ag-timeline-card_desc">
                    This second semester of my Aerospace Engineering Degree I'm taking Harvard's CS50AI. A course focused on the understanding of the fundamentals of Artificial Intelligence in Python
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="ag-timeline-card_meta-box">
                <div class="ag-timeline-card_meta">Hackathon MIT&CIC 2023</div>
              </div>
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">2023</div>
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_img-box">
                  <img src="static/timeline_images/2023_H.jpg" class="ag-timeline-card_img" alt="" />
                </div>
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">Hackathon MIT&CIC 2023</div>
                  <div class="ag-timeline-card_desc">
                    In January of 2023 I was part of the MIT&CIC Hackathon 2023 as a mentor. 
                    I mentored different groups which included the building of a Light Saber by a group with no experience with arduino's and the building of a glove for rehabilitation.
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">2022</div>
              </div>
              <div class="ag-timeline-card_meta-box">
                <div class="ag-timeline-card_meta">Harvard's CS50</div>
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_img-box">
                  <img src="static/timeline_images/CS50.png" class="ag-timeline-card_img" salt="" />
                </div>
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">Harvard's CS50</div>
                  <div class="ag-timeline-card_desc">
                    During my first semester in college I decided to take Harvard's CS50 course and I completed it by December 2022.
                    This course gave me a solid coding basis and tought me about the fundamentals as until then I had learnt to code with my projects and had never taken any CS Course
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="ag-timeline-card_meta-box">
                <div class="ag-timeline-card_meta">Joining GRASS Rover Club</div>
              </div>
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">2022</div>
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_img-box">
                  <img src="https://camo.githubusercontent.com/4eb965011675e15972a54e3786bf6042f9222ed01847b3b27a0e4edef54a202d/68747470733a2f2f7374617469632e7769787374617469632e636f6d2f6d656469612f6633663631345f39643935363931393339303534656539383535636438333539656430326663637e6d76322e6a70672f76312f66696c6c2f775f3938302c685f3931322c616c5f632c715f38352c75736d5f302e36365f312e30305f302e30312c656e635f6175746f2f6633663631345f39643935363931393339303534656539383535636438333539656430326663637e6d76322e6a7067" class="ag-timeline-card_img" alt="" />
                </div>
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">Joining GRASS Rover Club</div>
                  <div class="ag-timeline-card_desc">
                    In my second month of Collage I decided to join and was Accepted at the GRASS Rover Student Club at my University. 
                    This Group is building a rover to compete at the European Rover Challenge and I'm part of the Coding Department of the Club.

                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">2022</div>
              </div>
              <div class="ag-timeline-card_meta-box">
                <div class="ag-timeline-card_meta">MIT Engineering Design Workshop 2022</div>
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_img-box">
                  <img src="static/assets/piano2.png" class="ag-timeline-card_img" alt="" />
                </div>
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">MIT Engineering Design Workshop 2022</div>
                  <div class="ag-timeline-card_desc">
                    The MIT Engineering Design Workshop 2022 was a month long EDW where people from around the world came together to build, design and prototype ideas at the Edgerton Center at MIT.
                    During this month long stay we got to do different fun activites related to engineering and to get to know each other, like building and launching Water Rockets, using a High Speed camera to take photos of ourselves popping water ballons.
                    The project that we built for that EDW was a foot piano, that had nine notes (A, B, C, D, E, F, F#, G) and that could be arranged in any way to play any song we wanted.
                    Our group consisted of Three Americans (Hrushi, Harri, Archim), two italians (Emilia & Clara) and two Spaniards (Oriol and me), so to overcome our language barriers also became a fun challenge.
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="ag-timeline-card_meta-box">
                <div class="ag-timeline-card_meta">Shaking Hands Overseas Demo</div>
              </div>
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">2022</div>
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_img-box">
                  <img src="static\timeline_images\Demo.png" class="ag-timeline-card_img"alt="" />
                </div>
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">Shaking Hands Overseas Demo</div>
                  <div class="ag-timeline-card_desc">
                    After months of work we finally where able to move our robotic hand with a glove built by LucasVR, who is the creator of the Lucid Gloves, and who from 4-409 at MIT was able to move our hand from the other side of the world.

                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">2022</div>
              </div>
              <div class="ag-timeline-card_meta-box">
                <div class="ag-timeline-card_meta">Hackathon MIT&CIC 2022</div>
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_img-box">
                  <img src="static/timeline_images/2022_h.jpg" class="ag-timeline-card_img" alt="" />
                </div>
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">Hackathon MIT&CIC 2022</div>
                  <div class="ag-timeline-card_desc">
                    This hackathon was my first one as a mentor instead of as a student. So instead of building and designing a project I mentored other students how to do it and give them advice or a new prespective.
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="ag-timeline-card_meta-box">
                <div class="ag-timeline-card_meta">MIT Engineering Design Workshop 2021</div>
              </div>
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">2021</div>
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_img-box">
                  <img src="static/timeline_images/2021_EDW.jpeg" class="ag-timeline-card_img" width="640" height="360" alt="" />
                </div>
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">Engineering Design Workshop 2021</div>
                  <div class="ag-timeline-card_desc">
                    Every Summer, the MIT Edgerton Center organizes its Engineering Design Workshop for rising ninth through 12th grade students.
                    During the EDW 2021 we continued our project Shaking Hands Overseas and moved a finger of our robotic hand from the other side of the ocean.
                    This EDW we built our third and last prototype and designed all the infrastructure necessary to move the hand from any part of the world.

                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">2021</div>
              </div>
              <div class="ag-timeline-card_meta-box">
                <div class="ag-timeline-card_meta">Hackathon MIT&CIC 2021</div>
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_img-box">
                  <img src="static/timeline_images/2021_H.jpg" class="ag-timeline-card_img"alt="" />
                </div>
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">Hackathon MIT&CIC 2021</div>
                  <div class="ag-timeline-card_desc">
                    During the 2021 Hackathon organized by Fundació CIC and The MIT Edgerton Center, we built and tested a robotic hand which could be moved from the other side of the word.
                    This project, called Shaking Hands Overseas was started during this Hackathon by Marti Vinyolas, Eduard Lleget and myself and took a little over 6 months to get it working.
                    During this hackathon we 3D printed and tested our first and second of three prototypes that we would eventually build.
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="ag-timeline-card_meta-box">
                <div class="ag-timeline-card_meta">Hackathon MIT&CIC 2020</div>
              </div>
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">2020</div>
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_img-box">
                  <img src="static/timeline_images/2020.jpg" class="ag-timeline-card_img"/>
                </div>
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">Hackathon MIT&CIC 2020</div>
                  <div class="ag-timeline-card_desc"> 
                    The 2020 Hackathon organized by Fundació CIC and The MIT Edgerton Center consisted on the building, prototyping and testing of our own ROV (Remote Operated Vehicle).
                    From the design to the wiring, we designed and built our own with help and advice from mentors from MIT, who where students at the time.
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">2019</div>
              </div>
              <div class="ag-timeline-card_meta-box">
                <div class="ag-timeline-card_meta">Hackathon MIT&CIC 2019</div>
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_img-box">
                  <!-- <img src="" class="ag-timeline-card_img" width="640" height="360" /> -->
                </div>
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">Hackathon MIT&CIC 2019</div>
                  <div class="ag-timeline-card_desc">
                    The 2019 Hackathon was my first contact into engineering by the Edgerton Center, where I got to solve some fun puzzles and challenges with my friends. 
                   </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script  src="static/timeline.js"></script>

{% endblock %}