<title>Joel Garcia</title>
<div class="container" style="color: black;">
<div class="row">
<div class="col-md-12" style="padding-top: 50px; text-align: center;">
    <div class="col-md-12" style="text-align: center;">
    <h1 style="font-size: 60px;">Joel Garcia</h1>
    </div>
    <div class="col-md-12" style="text-align: center; padding-top: 50px;">
    <h1>My Resume</h1></div>
    </div>
<div class="col-md-12" style="text-align: center; padding-top: 50px;">
<a href="https://1drv.ms/b/s!AoDV0BUvKFejsY4rNBhBpGh0knbCXQ" style="color: transparent;">
    <button class="btn-hover color-1">Download Resume</button>
</a>
</div>
</div>
</div>
    
