<div class="subpage">
    <div class="row" class="link">
    <a routerLink="/projects">
        Projects
    </a>
    </div>
    <div class="row" class="link">
    <a routerLink="/contact">
        Contact
    </a>
    </div>
    <div class="row" class="link">
        <a href="https://drive.google.com/drive/folders/1iIxqykF8BoyU-1dXKXqU7OilTzgklzXo?usp=sharing">
            Resume / CV
        </a>
    </div>
    <div class="row" class="link">
        <a href="https://linktr.ee/joelgama">
            Other
        </a>
    </div>
</div>