<title>Joel Garcia</title>
<div class="container">
<div class="row">
<div class="col-md-12" style="padding-top: 50px; text-align: center;">
    <div class="col-md-12" style="text-align: center;">
    <h1 style="font-size: 60px;">Joel Garcia</h1>
    </div>
    <div class="col-md-12" style="text-align: center; padding-top: 100px;">
    <h1>Who am I?</h1></div>
    </div>
<div style="padding-top: 30px; text-align: center;">
    Hi everyone! I'm a High School student from Spain who is interested in physics and abstract math. I want to study aerospace engineering because I love bringing to life new inventions and combining math, physics and coding together to create something new and I am fascinated by rockets and airplanes. I am currently working with the MIT in a project called Shaking Hands Overseas to create a robotic hand which you can move from the other side of the ocean. I have knowledge of C++, Javascript, Python (My main programming language) and a little bit of java. See you!!
</div>
<div class="col-md-12" style="text-align: center; padding-top: 50px;">
<a routerLink="/projects" style="color: transparent;">
    <button class="btn-hover color-1">My Projects</button>
</a>
<a routerLink="/contact">
    <button class="btn-hover color-1">Contact Info</button>
</a>
</div>
</div>
</div>
    
